@mixin easeOut {
  transition: all .5s ease-out;
}

@mixin textShadow {
  text-shadow: 0 2px 3px #000;
}

@mixin flex-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}